@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf_viewer.min.css");

.pdf-viewer {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  height: 500px;
  position: relative;
}

/* .pdf-viewer {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  height: 500px;
} */
